@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #050505;
  color: #fff;
}

.gradient-text {
  background: linear-gradient(90deg, #00f0ff, #9442fe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradientFlow 4s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 